html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:500&subset=latin")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="bg-gray-50")
            section(class="overflow-hidden")
                div(class="px-8 py-5 lg:py-8 bg-white")
                    div(class="container mx-auto")
                        div(class="flex items-center justify-between")
                            div(class="w-auto")
                                div(class="flex flex-wrap items-center")
                                    div(class="w-auto mr-14")
                                        a(href="index.html")
                                            img(src="images/logo.png", alt="")
                            div(class="w-auto")
                                div(class="flex flex-wrap items-center")
                                    div(class="w-auto hidden lg:block")
                                        ul(class="flex items-center mr-10")
                                            li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                                a(href="confidentiality.html") Confidentialité
                                            li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                                a(href="mentions.html") Mentions légales
                                            li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                                a(href="propos.html") À propos
                                            li(class="font-heading text-gray-900 hover:text-gray-700 text-lg")
                                                a(href="contact.html") Contact
                                    div(class="w-auto lg:hidden")
                                        a(href="#")
                                            svg(class="navbar-burger text-gray-800", width="51", height="51", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                rect(width="56", height="56", rx="28", fill="currentColor")
                                                path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                    nav(class="relative z-10 px-9 py-8 bg-white h-full")
                        div(class="flex flex-wrap justify-between h-full")
                            div(class="w-full")
                                div(class="flex items-center justify-between -m-2")
                                    div(class="w-auto p-2")
                                        a(class="inline-block", href="index.html")
                                            img(src="images/risquecyber-logo.png", alt="")
                                    div(class="w-auto p-2")
                                        a(class="navbar-burger", href="#")
                                            svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            div(class="flex flex-col py-8 w-full")
                                ul
                                    li(class="mb-12")
                                        a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="propos.html") À propos
                                    li(class="mb-12")
                                        a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="confidentiality.html") Confidentialité
                                    li(class="mb-12")
                                        a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="mentions.html")  Mentions légales
                                    li
                                        a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="contact.html") Contact
                            div(class="flex flex-col justify-end w-full")                 
                            |               
            h1(class="font-heading text-7xl md:text-9xl xl:text-11xl font-bold text-center mt-16") Confidentialité
            h6(class="mb-8 font-heading text-2xl md:text-4xl font-bold pl-20 pt-20") Information Collection
            p(class="font-medium text-xl pl-20 pr-20 mb-8") We collect personal information, such as your name, email address, and payment details, when you subscribe to our services. This information is necessary for billing purposes and to provide you with access to our software.
            h6(class="mb-8 font-heading text-2xl md:text-4xl font-bold pl-20") Information Usage
            p(class="mb-4 font-medium text-xl pl-20 pr-20 mb-8") Your personal information is used to manage your account, process payments, and deliver the services you have subscribed to. We may also use your email address to send you updates, newsletters, or promotional materials related to SalesValidator. You can opt out of these communications at any time.
            h6(class="mb-8 font-heading text-2xl md:text-4xl font-bold pl-20") Data Security
            p(class="mb-4 font-medium text-xl pl-20 pr-20 mb-8") We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, please note that no method of transmission over the internet or electronic storage is 100% secure.
            h6(class="mb-8 font-heading text-2xl md:text-4xl font-bold pl-20") Information Sharing
            p(class="mb-4 font-medium text-xl pl-20 pr-20 mb-8") We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as required by law or to provide the services you have requested.
            h6(class="mb-8 font-heading text-2xl md:text-4xl font-bold pl-20") Changes to Privacy Policy
            p(class="mb-4 font-medium text-xl pl-20 pr-20 mb-8") SalesValidator reserves the right to update this Privacy Policy periodically. We will notify you of any changes by posting the updated policy on our website.
            |       
            |       
            p(class="text-base font-medium text-xl pl-20 pr-20 mb-32 pt-10") By using SalesValidator's services, you agree to the terms outlined in this Privacy Policy.
            |       
            |       
            section(class="py-16 bg-gray-50 pt-2")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap lg:items-center -m-6")
                        div(class="w-full md:w-auto p-6")
                            img(src="images/logo.png", alt="")
                        div(class="w-full md:w-1/2 p-6")
                            ul(class="flex flex-wrap -m-5")
                                li(class="p-5")
                                    a(class="font-heading text-base text-black", href="confidentiality.html") Confidentialité
                                li(class="p-5")
                                    a(class="font-heading text-base text-black", href="mentions.html") Mentions légales
                                li(class="p-5")
                                    a(class="font-heading text-base text-black", href="propos.html") À propos
                                li(class="p-5")
                                    a(class="font-heading text-base text-black", href="contact.html") Contact
                    div(class="py-9")
                        div(class="border-b border-gray-800")
                    div(class="flex flex-wrap items-center justify-between -m-6")
                        div(class="w-auto p-6")
                            p(class="text-gray-600 text-center text-sm")
                                | © Copyright 2024. 
                                a(target="_blank", href="https://icons8.com") Thanks to our official partner.
                                |  All Rights Reserved by #Risquecyber.
                        div(class="w-auto p-6")
                            div(class="flex flex-wrap -m-6")
