html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:500&subset=latin")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="bg-gray-50")
            section(class="overflow-hidden")
                div(class="px-8 py-5 lg:py-8 bg-white")
                    div(class="container mx-auto")
                        div(class="flex items-center justify-between")
                            div(class="w-auto")
                                div(class="flex flex-wrap items-center")
                                    div(class="w-auto mr-14")
                                        a(href="index.html")
                                            img(src="images/logo.png", alt="")
                            div(class="w-auto")
                                div(class="flex flex-wrap items-center")
                                    div(class="w-auto hidden lg:block")
                                        ul(class="flex items-center mr-10")
                                            li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                                a(href="confidentiality.html") Confidentialité
                                            li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                                a(href="mentions.html") Mentions légales
                                            li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                                a(href="propos.html") À propos
                                            li(class="font-heading text-gray-900 hover:text-gray-700 text-lg")
                                                a(href="contact.html") Contact
                                    div(class="w-auto lg:hidden")
                                        a(href="#")
                                            svg(class="navbar-burger text-gray-800", width="51", height="51", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                rect(width="56", height="56", rx="28", fill="currentColor")
                                                path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                    nav(class="relative z-10 px-9 py-8 bg-white h-full")
                        div(class="flex flex-wrap justify-between h-full")
                            div(class="w-full")
                                div(class="flex items-center justify-between -m-2")
                                    div(class="w-auto p-2")
                                        a(class="inline-block", href="index.html")
                                            img(src="images/risquecyber-logo.png", alt="")
                                    div(class="w-auto p-2")
                                        a(class="navbar-burger", href="#")
                                            svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            div(class="flex flex-col py-8 w-full")
                                ul
                                    li(class="mb-12")
                                        a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="propos.html") À propos
                                    li(class="mb-12")
                                        a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="confidentiality.html") Confidentialité
                                    li(class="mb-12")
                                        a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="mentions.html")  Mentions légales
                                    li
                                        a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="contact.html") Contact
                            div(class="flex flex-col justify-end w-full")                 
                            |               
            section(class="background-animate overflow-hidden bg-gray-50")
                section
                    div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                        div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                        nav(class="relative z-10 px-9 py-8 bg-white h-full")
                            div(class="flex flex-wrap justify-between h-full")
                                div(class="w-full")
                                    div(class="flex items-center justify-between -m-2")
                                        div(class="w-auto p-2")
                                            a(class="inline-block", href="index.html")
                                                img(src="images/risquecyber-logo.png", alt="")
                                        div(class="w-auto p-2")
                                            a(class="navbar-burger", href="#")
                                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                div(class="flex flex-col py-8 w-full")
                                    ul
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="propos.html") À propos
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="confidentiality.html") Confidentialité
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="mentions.html") Mentions légales
                                        li
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="contact.html") Contact
                                div(class="flex flex-col justify-end w-full")
                                    div(class="flex flex-wrap")
                                        div(class="w-full")
                                            button(class="p-0.5 font-heading block w-full text-lg text-gray-900 font-medium rounded-10")
                                                div(class="py-2 px-5 rounded-10")                           
                                                |                         
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap items-center -m-6 bg-gray-50 pb-12 pt-8")
                        div(class="w-full lg:w-1/2 p-6")
                            div(class="lg:max-w-xl")
                                p(class="mb-8 font-heading max-w-max px-5 py-2.5 uppercase font-semibold text-xs tracking-wider text-indigo-900 bg-gradient-blue2 rounded-full") The best software for lead generation
                                h1(class="mb-6 font-heading text-gray-900 font-bold xl:text-8xl md:text-6xl text-4xl") Améliorer la performance cybernétique* de mon organisation
                                p(class="mb-9 text-gray-600 text-lg") #Risquecyber, référent en sécurité numérique
                                a(href="https://app.salesvalidator.com/register")
                                    button(class="group relative px-10 py-5 w-full lg:w-auto text-white font-semibold tracking-px bg-gray-900 overflow-hidden rounded-md")
                                        div(class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gray-800")
                                        p(class="relative z-10") Nous contacter
                        div(class="w-full lg:w-1/2 p-6")
                            img(class="block mx-auto", src="images/data.jpeg", alt="")
            div(class="flex flex-wrap -mx-4 -mb-4 md:mb-0")
                div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
                div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
                    a(class="inline-block group p-0.5 font-heading text-base text-gray-900 font-bold bg-white hover:bg-gray-50 bg-gradient-cyan overflow-hidden rounded-md", href="#")         
                    |       
                div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
            section(class="pt-28 pb-20 overflow-hidden")
                div(class="container mx-auto px-4")
                    p(class="mb-5 font-heading font-semibold text-xs text-gray-400 text-center uppercase tracking-px") The features that made us special
                    h2(class="mb-20 font-heading font-semibold text-6xl sm:text-7xl text-gray-900 text-center") La sécurité au cœur de mon Système d'Information, en 3 étapes !
                    div(class="flex flex-wrap -m-4")             
                    |             
                    |             
                    |           
            section(class="relative py-36 bg-gray-100 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap -m-5 justify-center")
                        div(class="w-full md:w-1/2 xl:w-1/4 p-5")
                            div(class="p-7 bg-white rounded-10")
                                h2(class="mb-4 font-heading font-bold text-8xl sm:text-9xl text-gray-900") 43%
                                p(class="mb-10 text-gray-600 text-base") Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                a(class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden", href="#")
                                    p(class="mb-1") Read case study
                                    div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-px bg-gradient-cyan transition ease-in-out duration-500")
                        div(class="w-full md:w-1/2 xl:w-1/4 p-5")
                            div(class="p-7 bg-white rounded-10")
                                h2(class="mb-4 font-heading font-bold text-8xl sm:text-9xl text-gray-900") 79%
                                p(class="mb-10 text-gray-600 text-base") Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                a(class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden", href="#")
                                    p(class="mb-1") Read case study
                                    div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-px bg-gradient-cyan transition ease-in-out duration-500")
                        div(class="w-full md:w-1/2 xl:w-1/4 p-5")
                            div(class="p-7 bg-white rounded-10")
                                h2(class="mb-4 font-heading font-bold text-8xl sm:text-9xl text-gray-900") 16%
                                p(class="mb-10 text-gray-600 text-base") Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                a(class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden", href="#")
                                    p(class="mb-1") Read case study
                                    div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-px bg-gradient-cyan transition ease-in-out duration-500")
            section(class="relative pb-32 overflow-hidden bg-gray-50")
                div(class="container mx-auto px-4 pt-24")
                    h2(class="mb-5 max-w-2xl mx-auto font-heading font-bold text-center sm:text-7xl text-gray-800 text-5xl") Here’s what our customers say
                    p(class="font-heading font-semibold text-xs text-center uppercase tracking-px text-gray-800 mb-12") Some of our customer reviews
                    div(class="flex flex-wrap -m-5")
                        div(class="w-full p-5")
                            div(class="h-full p-0.5 transform hover:-translate-y-3 rounded-10 transition ease-out duration-1000 bg-black")
                                div(class="h-full px-7 py-8 bg-white rounded-lg")
                                    img(class="mb-8", src="images/Emily.png", alt="")
                                    p(class="mb-8 text-lg text-gray-800") “As a seasoned professional in the lead generation field, I must say this software is a game-changer. The quality of leads it generates and the ease of use make it an indispensable tool in my arsenal.”
                                    h3(class="mb-1.5 font-heading font-bold text-lg text-gray-900") Emily Anderson
                                    p(class="text-sm text-gray-600") Management Consulting
                        div(class="w-full p-5")
                            div(class="h-full p-0.5 transform hover:-translate-y-3 rounded-10 shadow-5xl transition ease-out duration-1000 bg-black")
                                div(class="h-full px-7 py-8 bg-white rounded-lg")
                                    img(class="mb-8", src="images/Benjamin.png", alt="")
                                    p(class="mb-8 text-lg text-gray-800") “I've been in the online prospecting game for years, and this software has become my secret weapon. It not only saves me time but also delivers highly targeted leads consistently.”
                                    h3(class="mb-1.5 font-heading font-bold text-lg text-gray-900") Benjamin Hughes
                                    p(class="text-sm text-gray-600") Computer Software - SaaS
                        div(class="w-full p-5")
                            div(class="h-full p-0.5 transform hover:-translate-y-3 rounded-10 transition ease-out duration-1000 bg-black")
                                div(class="h-full px-7 py-8 bg-white rounded-lg")
                                    img(class="mb-8", src="images/Olivia.png", alt="")
                                    p(class="mb-8 text-lg text-gray-800") "Having tested numerous lead generation tools, I can confidently say that Salesvalidator out. Its ability to provide actionable leads, coupled with its intuitive interface, has had a significant impact on my conversion rates. Truly a game-changer !"
                                    h3(class="mb-1.5 font-heading font-bold text-lg text-gray-900") Olivia Martinez
                                    p(class="text-sm text-gray-600") Digital Marketing Agency
            section(class="relative py-36 bg-gray-100 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap -m-5 justify-center")
                        div(class="w-full md:w-1/2 xl:w-1/4 p-5")
                            div(class="p-7 bg-white rounded-10")
                                h2(class="mb-4 font-heading font-bold text-8xl sm:text-9xl text-gray-900") 43%
                                p(class="mb-10 text-gray-600 text-base") Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                a(class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden", href="#")
                                    p(class="mb-1") Read case study
                                    div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-px bg-gradient-cyan transition ease-in-out duration-500")
                        div(class="w-full md:w-1/2 xl:w-1/4 p-5")
                            div(class="p-7 bg-white rounded-10")
                                h2(class="mb-4 font-heading font-bold text-8xl sm:text-9xl text-gray-900") 79%
                                p(class="mb-10 text-gray-600 text-base") Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                a(class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden", href="#")
                                    p(class="mb-1") Read case study
                                    div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-px bg-gradient-cyan transition ease-in-out duration-500")
                        div(class="w-full md:w-1/2 xl:w-1/4 p-5")
                            div(class="p-7 bg-white rounded-10")
                                h2(class="mb-4 font-heading font-bold text-8xl sm:text-9xl text-gray-900") 16%
                                p(class="mb-10 text-gray-600 text-base") Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                a(class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden", href="#")
                                    p(class="mb-1") Read case study
                                    div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-px bg-gradient-cyan transition ease-in-out duration-500")
            section(class="bg-gray-50 pt-8")
                div(class="container mx-auto px-4")
                    div(class="max-w-md mx-auto mb-20")
                        h2(class="font-heading font-semibold text-center sm:text-7xl text-5xl") Got questions ?
                    div(class="flex flex-wrap -m-6 mb-24")
                        div(class="w-full md:w-1/2 p-6")
                            div(class="md:max-w-xl")
                                h2(class="mb-4 font-heading font-medium text-2xl text-gray-900") Do I need to provide credit card information for the trial period?
                                p(class="text-base text-black") No, you do not need to provide credit card information to access our trial period. We offer a risk-free trial that does not require any payment information upfront. Simply sign up, and you can start exploring our product's features immediately.
                        div(class="w-full md:w-1/2 p-6")
                            div(class="md:max-w-xl")
                                h2(class="mb-4 font-heading font-medium text-2xl text-gray-900") Can I suggest a new feature?
                                p(class="text-base text-black") You can reach out to us to share your suggestions and requirements. If your suggestion aligns with the value we aim to provide, we may consider incorporating it into the product. Please be aware that the implementation of new features may require some time, but we're committed to delivering the best possible experience for our users.
                        div(class="w-full md:w-1/2 p-6")
                            div(class="md:max-w-xl")
                                h2(class="mb-4 font-heading font-medium text-2xl text-gray-900") What is the typical response time for a support question?
                                p(class="text-base text-black") When you report a support question to us, we make every effort to promptly investigate the issue. The resolution time may vary depending on the specific case, but in many instances, it can be resolved within minutes or hours.
                        div(class="w-full md:w-1/2 p-6")
                            div(class="md:max-w-xl")
                                h2(class="mb-4 font-heading font-medium text-2xl text-gray-900") How can I cancel my subscription?
                                p(class="text-base text-black") You have the flexibility to access your dashboard and pause your subscription at any time. Additionally, you can remove your credit card information and cancel your subscription whenever you wish.
                        div(class="w-full md:w-1/2 p-6")
                            div(class="md:max-w-xl")
                                h2(class="mb-4 font-heading font-medium text-2xl text-gray-900") Do you provide invoices?
                                p(class="text-base text-black") Invoices are automatically generated when you upgrade your product or on a monthly basis when your subscription renews automatically. You can conveniently access and download these invoices from your account for your records.
                        div(class="w-full md:w-1/2 p-6")
                            div(class="md:max-w-xl")
                                h2(class="mb-4 font-heading font-medium text-2xl text-gray-900") What does the package include?
                                p(class="text-base text-black") When you purchase our product, you'll enjoy unrestricted, unlimited access to all its features without any limitations.
            section(class="py-16 bg-gray-50 pt-2")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap lg:items-center -m-6")
                        div(class="w-full md:w-auto p-6")
                            img(src="images/logo.png", alt="")
                        div(class="w-full md:w-1/2 p-6")
                            ul(class="flex flex-wrap -m-5")
                                li(class="p-5")
                                    a(class="font-heading text-base text-black", href="confidentiality.html") Confidentialité
                                li(class="p-5")
                                    a(class="font-heading text-base text-black", href="mentions.html") Mentions légales
                                li(class="p-5")
                                    a(class="font-heading text-base text-black", href="propos.html") À propos
                                li(class="p-5")
                                    a(class="font-heading text-base text-black", href="contact.html") Contact
                    div(class="py-9")
                        div(class="border-b border-gray-800")
                    div(class="flex flex-wrap items-center justify-between -m-6")
                        div(class="w-auto p-6")
                            p(class="text-gray-600 text-center text-sm")
                                | © Copyright 2024. 
                                a(target="_blank", href="https://icons8.com") Thanks to our official partner.
                                |  All Rights Reserved by #Risquecyber.
                        div(class="w-auto p-6")
                            div(class="flex flex-wrap -m-6")
